@model BandoMIA.Models.BandoView
@{
    ViewBag.Title = "Home Page";
}
@section Scripts
{
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDguhUYBiwnJ3FlwnLemwBVzJj3xNLARuU&callback=initMap"
            type="text/javascript"></script>
}




<div class="jumbotron">
    <h1>Bando MIA</h1>

</div>

<div class="row">
  
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        @foreach (var item in Model.Bandos)
        {
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <th>
                            Type
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Address Street View
                        </th>
                        <th>
                            Lat/Long Street View
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @item.issue_type
                        </td>
                        <td>
                            <p>@item.location_address @item.location_city @item.location_state, @item.location_zip</p>

                        </td>
                        <td>
                            <img src="https://maps.googleapis.com/maps/api/streetview?size=600x300&location=@item.location_address@item.location_state,@item.location_zip&heading=151.78&pitch=-0.76&key=AIzaSyCZBpMUbtoozyGxXMT6Qn3G-FenjiYDn1A" />
                        </td>
                        <td>
                            <img src="https://maps.googleapis.com/maps/api/streetview?size=600x300&location=@item.latitude,@item.longitude&heading=151.78&pitch=-0.76&key=AIzaSyCZBpMUbtoozyGxXMT6Qn3G-FenjiYDn1A" />

                        </td>
                    </tr>
                </tbody>
            </table>
        }
        .....
    </div>
    
</div>
